<h1>Cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>

<h1>New Cocktail</h1>

<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', cocktails_path %>
